header i {
  color: $darkPowder;
}

.logo {
  font-family: 'Charmonman', sans-serif;
  color: $powderPink;
  font-weight: 700;
  font-size: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 70px;

  a {
    text-decoration: none;
    font-size: 24px;
    color: $fontColor;
    font-weight: 700;
    letter-spacing: 1px;

  }

  a:hover {
    color: $powderPink;
    font-weight: 700;
  }

}


.activeStyle {
  background-color: $darkPowder;
  padding: 15px;
  border-radius: 5px;
  color: $darkGreen;
  font-weight: 700;
}

