.container__main {
  padding: 30px;
}

.pages {
  min-height: 100vh;
  height: 100%;
  color: $fontColor;
  width: 100%;
  display: flex;
  justify-content: center;
  //align-items: center;
  //padding-top: 100px;
}

.page__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  align-items: center;
}

//
//.form__box {
//  display: flex;
//  flex-direction: column;
//}
.btn__positioner {
  width: 1100px;
  text-align: right;
  //margin-bottom: 50px;
}

.switch__btn {
  //text-transform: uppercase;
  width: 200px;
  font-size: 20px;
  height: 50px;
  background-color: $darkGreen;
  color: $fontColor;
  box-shadow: 1px 1px 5px $powderPink;
  border: 1px solid darkgrey;
  margin-top: 50px;
  border-radius: 10px;

  .fa-circle-right {
    color: #EAB2A0;
  }
}