.book__comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  height: 100%;

  .fa-bookmark {
    color: $darkPowder;
  }

  h1 {
    color: $fontColor;
  }


}

.reads__container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 1200px;
  height: 100%;


  .read__container {
    width: 100%;
    height: 100%;
    min-height: 400px;
    padding: 20px;
    //border-radius: 10px;

    .btn__container {
      max-width: 5%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: space-between;
      padding: 6px;
      border: none;

      button {
        border: none;
        background-color: $bgc;
        &:hover {
          transform: scale(1.1);
        }
      }
      .fa-circle-minus {
        background-color: $bgc;
        color: $powderPink;
        font-weight: 700;
        font-size: 25px;
        cursor: pointer;
        border: none;
      }

      .fa-arrow-turn-up {
        background-color: $bgc;
        color: $powderPink;
        font-weight: 700;
        font-size: 33px;
        cursor: pointer;
        border: none;
      }
    }

    h2 {
      color: $fontColor;
    }

    .fa-book-bookmark {
      color: $darkPowder;
    }

    .fa-book-open {
      color: $darkPowder;
    }

    .read__container--books {
      width: 100%;
      height: 100%;
      border-left: 30px solid $darkPowder;
      border-radius: 10px;
      //padding: 20px;
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .read__container--book {
        //margin-bottom: 10px;
        display: flex;
        column-gap: 20px;
        //background-color: $darkGreen;
        color: $powderPink;
        border-radius: 10px;
        border: 1px solid $powderPink;
        width: 50%;
        min-height: 300px;
        row-gap: 5px;
        align-items: stretch;
        justify-content: space-between;

        .img__container {
          display: flex;
          align-items: center;
          justify-content: center;

          .fa-book-open {
            //background-color: $bgc;
            color: $powderPink;
            font-size: 100px;
            width: 200px;
          }

          img {
            width: 200px;
            height: auto;
            max-height: 300px;
            border-radius: 10px;
            //text-align: left;
            margin: 0;
          }
        }


        .book__right_info {
          display: flex;
          flex-direction: column;
          align-items: start;
          width: 100%;
          text-align: left;
          justify-content: space-around;

          .textarea {
            min-width: 90%;
            min-height: 50%;
            background-color: $bgc;
            color: $powderPink;
            border: 1px solid $darkPowder;
            border-radius: 10px;
          }


          .form__input--date {
            width: 200px;
            height: 20px;
            font-size: 14px;
          }

          .btn__save {
            height: 20px;
            width: 40px;
            font-size: 14px;
            color:$fontColor;
            background-color: $darkGreen;
            border: none;
            box-shadow: 1px 1px 5px $fontColor;
            border-radius: 5px;
          }

          h3 {
            color: #FFFFFF;
          }
        }
      }
    }
  }
}

