.form__input {
  height: 40px;
  width: 300px;
  font-size: 18px;
  color: $fontColor;
  background-color: $darkPowder;
  border: none;
  box-shadow: 1px 1px 5px $fontColor;
  padding-left: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $powderPink;
  opacity: 1; /* Firefox */
  padding-left: 10px;
}

.form__btn {
  height: 40px;
  width: 100px;
  font-size: 18px;
  background-color: $darkGreen;
  border: none;
  box-shadow: 1px 1px 5px $fontColor;
  color: $fontColor;
  font-weight: 700;
  cursor: pointer;
}


.loading {
  i {
    font-size: 30px;
    font-weight: 700;
    color: $darkGreen;
  }

  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.books__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;

  .book__list {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 400px;
    height: 320px;
    background-color: $darkPowder;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    cursor: pointer;

    img {
      width: 200px;
      max-height: 300px;
    }

    span {
      width: 200px;
      text-align: center;

      .fa-book-open {
        font-size: 80px;
        color: $powderPink;
      }
    }
  }

  .book__list--selected {
    background-color: $darkGreen;
  }


  .book__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 200px;

    .select__book {
      background-color: $powderPink;
      height: 30px;
      width: 100px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      box-shadow: 1px 1px 5px darkslategray;
      color: $bgc;
      font-weight: 700;
      cursor: pointer;
      text-align: center;
    }
  }
}

.select__btn {
  background-color: $powderPink;
  height: 30px;
  width: 60px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px darkslategray;
  color: $bgc;
  font-weight: 700;
  cursor: pointer;
}
