@import "generic/colors";
@import "generic/mixins";
@import "components/header";
@import "components/mainSection";
@import "components/footer";
@import "components/sub_mainSection/home_page";
@import "components/sub_mainSection/search_page";
@import "components/sub_mainSection/login_page";
@import "components/sub_mainSection/books_page";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: 'Quicksand',sans-serif;
  background-color: $powderPink;
  width: 100%;
  color: $fontColor;
}

.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  background-color: $bgc;
  border-radius: 5px;
  border: 2px white solid;
}

//.page__container {
//  display: flex;
//  justify-content: center;
//}